html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

@font-face {
  font-family: "balqis";
  src:
    url("../fonts/balqis.woff2") format("woff2"),
    url("../fonts/balqis.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src:
    url("../fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src:
    url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src:
    url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

ul {
  list-style-type: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "RobotoCondensed-Light";
  color: #000000;

  font-size: 18px;
  line-height: 21px;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-section {
  margin: 200px auto;
  max-width: 1920px;
}

.title {
  font-family: "balqis";
  font-size: 96px;
  line-height: 128px;
  color: #e2ab3f;
  font-weight: 300;
  margin-bottom: 100px;
}

.title span {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  font-family: "RobotoCondensed-LightItalic";
  display: block;
  margin-top: -30px;
}

/* ----------------------------------------- */
/* HEADER */
.header {
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;

  font-size: 24px;
  line-height: 28px;
  font-family: "RobotoCondensed-Regular";
}
.menu {
}
.menu__list {
}
.menu__list-item {
  display: inline-block;
}

.menu__list-item:not(:last-child) {
  margin-right: 52px;
}
.menu__list-link {
}

.menu__list-link:hover,
.menu__list-link:focus {
  text-decoration: underline;
}

.header__phone {
  position: relative;
  padding-left: 40px;
}
.header__phone::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../images/phone.svg");
  left: 0;
  position: absolute;
}

.header__title {
  font-family: "balqis";
  padding-top: 152px;
  text-align: center;
  font-size: 250px;
  line-height: 334px;
  font-weight: 400;
}

.header__title span {
  display: block;
  text-align: right;
  font-size: 56px;
  line-height: 66px;
  font-family: "RobotoCondensed-LightItalic";
  margin-top: -66px;
  margin-right: 85px;
}

/* ------------------------------------ */
/* Fairy Tail */
.fairy-tail {
}

.fairy-tail__title span {
  margin-left: 185px;
}

.fairy-tail__inner {
  position: relative;
}
.fairy-tail__slider {
  width: 50%;
}
.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.fairy-tail__item {
}
.fairy-tail__content {
}
.fairy-tail__container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fairy-tail__body {
  width: 50%;
  margin-left: auto;
  padding-left: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.fairy-tail__text {
  padding: 10px 0;
}
.fairy-tail__body-title {
  font-family: "RobotoCondensed-Regular";
}
.fairy-tail__list {
}
/* --------------------- */
/* OUR TRIP */
.our-trip {
}
.page-section {
}
.our-trip__inner {
  position: relative;
}
.our-trip__content {
  width: 50%;
  padding-right: 55px;
}
.our-trip__container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slick-next {
  right: 0;
}
.our-trip__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100%;
}
.our-trip__title span {
  margin-left: 240px;
}

.our-trip__list {
  margin: 5px 0;
  font-size: 24px;
  line-height: 1.2;
}

.our-trip__list li:first-child {
  margin-bottom: 20px;
  font-family: "RobotoCondensed-Regular";
}
.our-trip__btn {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  border: 1px solid #e2ab3f;
  padding: 11px 54px;
}
.our-trip__slider {
  width: 50%;
  margin-left: auto;
}
.our-trip__slider-item {
}
/* ---------------------------------------------- */
/* HOTEL */
.hotel {
}
.page-section {
}
.container {
}
.hotel__title span {
  margin-left: 120px;
}

.hotel__inner {
  display: flex;
}

/* .hotel__inner img {
  margin-right: 100px;
} */
.hotel__content {
  margin-left: 100px;
}
.hotel__text {
  margin-bottom: 20px;
}
.hotel__gallery {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel__gallery a {
  margin-top: 50px;
}

/* .hotel__gallery {
  margin-right: 100px;
} */
