body {
  font-family: "Open Sans", sans-serif;
}
.container {
  max-width: 1090px;
  margin: 0 auto;
}
.header {
  padding: 40px 0;
}
.header-ul {
  text-align: center;
}

.header-li {
  display: inline-block;
  margin-right: 20px;
}
.header-li > a {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #bd6600;
}
/* HERO */
.hero {
  background-image: url(../images/bg-hero.png);
  padding: 112px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
  color: #fff;
}
/* TAKE */
.take {
  padding: 30px 0;
  text-align: center;
  background-color: rgba(244, 129, 46, 0.5);
}
.take-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}
.take-text {
  max-width: 756px;
  margin: 0 auto;
  margin-bottom: 39px;
}
.take-button {
  max-width: 420px;
  background-color: #bd6600;
  text-align: center;
  padding: 13px 147px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  border-radius: 5px;
}
.take-button:hover {
  background-color: #fa8703;
  transition: 0.5s;
}
/* FORM */
.form .container {
  max-width: 420px;
  margin: 40px auto;
}
.form {
}
.container {
}
.input-holder {
  margin-bottom: 30px;
  position: relative;
}
.input-holder,
.input {
  width: 100%;
}
.input {
  padding: 36px 0 12px 30px;
  border-radius: 10px;
  border: 1px solid #000;
  font-weight: 700;
  font-size: 18px;
  box-sizing: border-box;
}
.input::placeholder {
  color: #000;
}
.label {
  position: absolute;
  top: 10px;
  left: 30px;
}
.form-button {
  font-weight: 700;
  font-size: 24px;
  background-color: #000;
  color: #fff;
  width: 100%;
  border-radius: 10px;
  padding: 15px 0;
  border: none;
  text-align: center;
}
.checkbox-wrapper {
  display: flex;
  align-items: center;

  margin-bottom: 30px;
}

.checkbox-wrapper label {
  position: relative;
  padding-left: 26px; /* Выделяем место слева под наш кубик */
  font-family: sans-serif;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  user-select: none;
}

.checkbox-wrapper input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-wrapper label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: #ccc; /* Тот самый серый цвет */
  border-radius: 2px; /* Легкое закругление углов */
  transition: background-color 0.2s ease;
}

.checkbox-wrapper input[type="checkbox"]:checked + label::before {
  background-color: #000;
}
.checkbox-link {
  color: #312fa7;
}
/* PICTURE */
.picture {
  margin-bottom: 140px;
}
.picture-list {
  display: flex;
  gap: 80px;
}
/* TEXT */
.text {
  max-width: 773px;
  position: relative;
  padding: 50px 0;
}
.text-text {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin: 0;
  color: #000;
  font-weight: 700;
  position: relative;
}
.text-text::before,
.text-text::after {
  /* Мы используем не дефисы, а правильные символы кавычек (U+201C и U+201D) */
  color: #174648;
  font-weight: 700;
  font-size: 72px; /* Размер как в макете */
  font-family: serif; /* Шрифт с засечками для красивой формы */

  /* МАГИЯ ЗДЕСЬ: отрываем от текста */
  position: absolute;
  line-height: 1;
}
.text-text::before {
  content: " '' ";
  top: -60px;
  left: -60px;
  transform: rotate(180deg);
}
.text-text::after {
  content: " '' ";
  bottom: -60px;
  right: -60px;
}
/* LIST */
.lorem {
  margin-bottom: 50px;
}
.columns-list {
  display: flex;
  gap: 77px;
  width: 100%;

  list-style: none;
  padding: 0;
  margin: 0;

  align-items: flex-start;
}

.column-item {
  padding: 21px 25px;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Первый элемент списка */
.column-item:nth-child(1) {
  color: #000;
  background-color: #b4e8eb;
  flex: 2 1 0%;
}
.column-item:nth-child(2) {
  color: #000;
  background-color: #917cbf;
  flex: 2 1 0%;
}

.column-item:nth-child(3) {
  color: #000;
  background-color: #f46b6b;
  flex: 1 1 0%;
}
.column-title {
  font-size: 36px;
  margin-bottom: 16px;
}
.column-text {
  font-size: 18px;
}
.lorem-div-img {
  text-align: center;
  margin-bottom: 20px;
}
