* {
  box-sizing: border-box;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.images-1 {
  transition: all 3s ease;
}
.images-1:hover {
  transform: translateY(-100px);
}
.arrow {
  width: 50px;
  cursor: pointer;
  transform: rotate(180deg);
  position: fixed;
  right: 10px;
  bottom: 0px;
}
.box {
  border: 2px solid #000;
  background-color: #ccc;
  height: 500px;
  margin: 20px 0;
  position: relative;
}
.text {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.title {
  margin-top: 30px;
  text-align: center;
  font-size: 36px;
}
.title-1 {
  font-size: 50px;
  margin: 25px 0 50px;
  position: sticky;
  top: 0;
  padding: 20px 0;
  background-color: #fff;
  z-index: 1;
}
.title-1::before {
  content: ' " ';
  width: 50px;
  height: 50px;
}
.title-1::after {
  content: ' " ';
  width: 50px;
  height: 50px;
}
.title-1:hover {
  color: blueviolet;
  text-decoration: underline;
}
.text-1 {
  font-size: 20px;
  background-color: #ccc;
  margin: 50px 35px 70px 20px;
  padding: 50px 35px 38px 35px;
  border: 2px solid yellowgreen;
}
.text-1:hover {
  background-color: rgb(165, 232, 237);
  color: rgb(0, 106, 255);
}
.text-2 {
  font-size: 18px;
  background-color: #ccc;
}
.text-3 {
  font-style: italic;
}
.text-4 {
  text-align: right;
  font-size: 14px;
}
