body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
.container {
  max-width: 1090px;
  margin: 0 auto;
}
/* HEADER */
.header {
  padding: 53px 0;
}

.header-item {
  margin-right: 47px;
  display: inline-block;
}
.header-items {
  text-align: center;
}
.header-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #000;
}
.header-link:hover {
  color: rgb(106, 156, 242);
  transition: 0.5s;
}
/* HERO */
.hero {
  background-image: url(../image/bg-hero-1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 138px 0 180px;
}
.hero-title {
  text-align: center;
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 14px;
  color: #fff;
}
.hero-button {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  color: #162c38;
  border: none;
  border-radius: 5px;
  padding: 11px 122px;
  font-weight: 700;
  font-size: 36px;
}
/* DUIS */
.duis {
  background-color: rgba(26, 110, 136, 0.71);
  padding: 131px 0;
}
.duis-text,
.lorem-text,
.lorem-two {
  max-width: 726px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 36px;
}
/* LOREM */
section.lorem {
  padding: 200px 0;
  position: relative;
}
.lorem::before {
  content: "";
  background-image: url(../image/ractangle.png);
  width: 171px;
  height: 121px;
  position: absolute;
  top: 200px;
  left: -160px;
}
.lorem::after {
  content: "";
  background-image: url(../image/ractangle.png);
  width: 171px;
  height: 121px;
  position: absolute;
  top: 270px;
  right: -160px;
}
.lorem-text,
.lorem-two-text {
  color: #000;
}
/* LOREM-TWO */
section.lorem-two {
  padding: 200px 0;
  position: relative;
}
.lorem-two::before {
  content: "";
  background-image: url(../image/ellips1.png);
  width: 58px;
  height: 58px;
  position: absolute;
  top: 150px;
  left: -40px;
}
.lorem-two::after {
  content: "";
  background-image: url(../image/ellips2.png);
  width: 120px;
  height: 120px;
  position: absolute;
  top: 320px;
  right: -160px;
}
/* FORM */
.container .form {
  max-width: 647px;
  margin: 40px auto 200px;
}
.input-holder {
  margin-bottom: 30px;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 41px;
}
.input-holder,
.input {
  width: 647px;
}
.input {
  width: 100%;
  padding: 36px 0 12px 30px;
  border-radius: 4px;
  border: 1px solid #000;
  font-weight: 700;
  font-size: 36px;
  box-sizing: border-box;
}
.input::placeholder {
  color: #000;
  font-size: 36px;
}
.label {
  display: block;
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 14px;
  color: #767676; /* Серый цвет, как на макете */
  font-family: sans-serif;
}
.form-button {
  display: block;
  margin: 0 auto;

  font-weight: 700;
  font-size: 24px;
  background-color: #5c98ab;
  color: #fff;
  width: 647px;
  border-radius: 10px;
  padding: 15px 0;
  border: none;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
}
